.bg-sc {
  position: fixed;
  width: 24.3vw;
  height: 35.7vh;
  left: 16.32vw;
  top: 100vh;
  border-radius: 150px;
  background: conic-gradient(from 180deg at 50% 50%, #00FFE0 0deg, #7000FF 360deg);
  filter: blur(31vw);
  transform: matrix(-0.67, -0.74, 0.49, -0.13, 0, 0);
  z-index: 0;
}

.bg-rec {
  position: fixed;
  width: 41vw;
  height: 17.3vh;
  left: 52vw;
  top: 63.13vh;

  background: conic-gradient(from 180deg at 50% 50%, #00FFE0 0deg, #7000FF 360deg);
  filter: blur(23vw);
  z-index: 0;
}

.bg-sc2 {
  position: fixed;
  width: 14.39vw;
  height: 50.58vh;
  left: 59.74vw;
  top: 25.5vh;
  border-radius: 150px;
  background: conic-gradient(from 180deg at 50% 50%, #00FFE0 0deg, #7000FF 360deg);
  filter: blur(26.22vw);
  transform: matrix(-0.67, -0.74, 0.49, -0.13, 0, 0);
  z-index: 0;
}

.is-desktop-preview {
  background: #00000000 !important;
}